body{
    font-family: 'Inter-VariableFont_slnt,wght';
}


#main{
    display:flex;
    text-align: end;
    color:hsl(240, 3%, 68%);
}
#main p{
    margin-left:60%;
}
#logo{
    text-align: start;
    display:block;
    margin-left: 100px;
}
#bright{
    display:block;
    margin-top: 100px;
}
#info{
    display:block;
    background-color:hsl(240, 100%, 5%) ;
    color:white;
    width:450px;
    height:550px;
    padding-left: 50px;
}
#dive{
    display:block;
    text-align: center;
    color:hsl(225, 2%, 60%) ;
}
#button{
    font-family:'Inter-VariableFont_slnt,wght';
    font-size:x-large;
    background-color:  hsl(5, 85%, 63%);
    color: hsl(240, 100%, 5%);
    border:0px;
    width:150px;
    height: 50px;
    justify-content: center;
    display:block;
    margin-top: 20px;
    margin-left:700px;
}
.bottom{
    display: flex;
}
#one{
    display:flex;
    align-items: center; 
     gap: 15px;
}
#two{
    display: flex;
    align-items: center; 
     gap: 15px;
}
#three{
    display: flex;
    align-items: center; 
     gap: 15px;
}
@font-face {
    font-family:'Inter-VariableFont_slnt,wght' ;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-style: normal;
}
    